<template>
    <q-header reveal class="bg-primary font-color-white shadow-4-dp items-center row">
        <q-toolbar>
            <q-btn
                flat
                round
                icon="arrow_back"
                class="justify-left"
                :to="backwardTo"
                dense
            />
            <q-toolbar-title class="font-header-2 q-pl-lg">
                {{title}}
            </q-toolbar-title>
        </q-toolbar>
    </q-header>
</template>

<script>
export default {
    name: "backward-header",
    props: [
        'title',
        'backwardTo',
    ],
}
</script>