<template>
    <q-header
        reveal
        class="bg-primary font-color-white shadow-4-dp items-center row"
    >
        <q-toolbar v-show="!isSearchClicked">
            <q-btn
                dense
                flat
                round
                @click="onToggleLeftDrawer"
                icon="menu"
            />
            <q-toolbar-title class="font-header-2 q-pl-lg">
                {{titleCalculated}}
            </q-toolbar-title>
            <q-btn
                flat
                round
                dense
                :class="searchColorClass"
                @click="removeSearchResults"
                v-show="showClearButton"
                icon="close"
            />
            <q-btn
                flat
                round
                dense
                @click="toggleSearch"
                v-show="!showClearButton"
                icon="search"
            />
        </q-toolbar>

        <q-toolbar v-show="isSearchClicked" class="row">
            <div class="col-md-7 col-6" v-if="!isVertical"></div>
            <div :class="[
                {'col-md-5': !isVertical},
                {'col-6': !isVertical},
                {'col-12': isVertical},
                {'horizontal-search-padding': !isVertical},
                'flex',
                'items-center'
            ]">
                <q-btn
                    dense
                    flat
                    round
                    @click="closeSearch"
                    class="font-color-white"
                    icon="arrow_back"
                />
                <q-toolbar-title class="q-pl-lg">
                    <q-input
                        placeholder="Введите запрос..."
                        v-show="isSearchClicked"
                        borderless
                        :input-class="['font-header-2', searchColorClass]"
                        ref="search"
                        v-model="searchText"
                        dense
                    />
                </q-toolbar-title>
                <q-btn
                    flat
                    round
                    dense
                    :class="searchColorClass"
                    @click="clearSearchText"
                    v-show="showClearButton"
                    icon="clear"
                />
                <q-btn
                    dense
                    flat
                    round
                    :class="searchColorClass"
                    @click="search"
                    :disabled="disableSearchButton"
                    icon="search"
                />
            </div>
        </q-toolbar>
    </q-header>

    <div
        class="resent-queries row justify-end"
        v-if="!isVertical && isSearchClicked"
        style="pointer-events: none;"
    >
        <div
            class="col-md-5 col-6 background-secondary"
            style="pointer-events: auto;"
        >
            <recent-queries
                v-show="isSearchClicked"
                class="full-height"
                :onSetSearchText="onSetSearchText"
                :countOfSearches="countOfSearches"
            />
        </div>
    </div>
    <recent-queries
        v-if="isVertical && isSearchClicked"
        class="resent-queries background-secondary"
        :onSetSearchText="onSetSearchText"
        :countOfSearches="countOfSearches"
    />
</template>

<script>
import RecentQueriesController from 'src/scripts/controllers/RecentQueriesController'
import RecentQueries from 'src/components/common/recent-queries/recent-queries'
import Utils from 'src/scripts/helpers/Utils'

export default {
    name: "menu-and-search-header",
    props: [
        'title',
        'onToggleLeftDrawer',
    ],
    components: {
        RecentQueries,
    },
    data() {
        return {
            isSearchClicked: false,
            searchText: '',
            countOfSearches: 0,
        }
    },
    computed: {
        searchColorClass() {
            return this.searchText.length > 0 ? 'font-color-background-primary' : 'font-color-secondary'
        },
        titleCalculated() {
            return this.searchText.length > 0 ? this.searchText : this.title
        },
        showClearButton() {
            return this.searchText.length > 0
        },
        disableSearchButton() {
            return this.searchText.length === 0
        },
        isVertical() {
            return Utils.isVerticalOrientation()
        }
    },
    methods: {
        toggleSearch() {
            this.isSearchClicked = !this.isSearchClicked
            this.focusSearchInput()
        },
        focusSearchInput() {
            this.$refs.search.focus()
        },
        clearSearchText() {
            this.searchText = ''
        },
        setRecentQuery() {
            RecentQueriesController.getInstance().setOne(this.searchText)
        },
        search() {
            this.toggleSearch()
            this.setRecentQuery()
            this.countOfSearches++
            //Логика поиска
        },
        closeSearch() {
            this.clearSearchText()
            this.toggleSearch()
        },
        removeSearchResults() {
            this.clearSearchText()
            //Логика загрузки плейлиста
        },
        onSetSearchText(value) {
            this.searchText = value
        },
    }
}
</script>

<style lang="scss" scoped>
.resent-queries {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.horizontal-search-padding {
    padding-left: 12px;
}
</style>