<template>
    <q-header reveal class="bg-primary font-color-white shadow-4-dp items-center row">
        <q-toolbar>
            <q-toolbar-title class="font-header-2 q-ml-sm">
                {{title}}
            </q-toolbar-title>
        </q-toolbar>
    </q-header>
</template>

<script>
export default {
    name: "menu-header",
    props: [
        'title',
    ],
}
</script>