<template>
    <logo-cards>
        <div class="font-header-1">
            <div>Версия 0.1.12 от 26.05.2022</div>
            <div>
                Разработчик - <a href="mailto:aa-chernyh@mail.ru" class="font-color-app-primary link">Александр Черных</a>
            </div>
            <div>
                <a
                    class="link font-color-app-primary"
                    href="https://gitlab.com/top-melody"
                    target="_blank"
                >
                    Открыть в GitLab
                </a>
            </div>
            <div class="q-mt-md">
                <q-btn
                    class="q-mr-md q-mb-sm"
                    color="primary"
                    label="Обновить"
                    @click="openUpdateModal"
                />
                <q-btn
                    class="q-mb-sm"
                    color="primary"
                    label="Сбросить кеш"
                    @click="openCacheModal"
                />
            </div>
        </div>
    </logo-cards>
</template>

<script>
import LogoCards from 'src/components/horizontal/logo-cards'

export default {
    name: "about-horizontal",
    props: [
        'openUpdateModal',
        'openCacheModal',
    ],
    components: {
        LogoCards,
    },
}
</script>

<style scoped>
.link {
    text-decoration: none;
}
</style>