<template>
    <div class="wrapper q-ma-md">
        <q-splitter
            v-model="splitterModel"
            class="splitter"
        >
            <template v-slot:before>
                <q-tabs
                    v-model="tabIdLocal"
                    vertical
                    class="font-primary"
                    inline-label
                    content-class="tabs"
                    active-class="text-primary"
                    style="min-width: 160px;"
                >
                    <q-tab :name="accountTabEnum.Accounts" icon="people_outline" label="Аккаунты" />
                    <q-tab :name="accountTabEnum.Profile" icon="person" label="Профиль" />
                    <q-tab :name="accountTabEnum.View" icon="brush" label="Внешний вид" />
                </q-tabs>
            </template>

            <template v-slot:after>
                <q-tab-panels
                    v-model="tabIdLocal"
                    animated
                    swipeable
                    vertical
                    transition-prev="jump-up"
                    transition-next="jump-up"
                >
                    <q-tab-panel :name="accountTabEnum.Accounts">
                        <account-accounts />
                    </q-tab-panel>

                    <q-tab-panel :name="accountTabEnum.Profile">
                        <account-profile />
                    </q-tab-panel>

                    <q-tab-panel :name="accountTabEnum.View">
                        <account-view />
                    </q-tab-panel>
                </q-tab-panels>
            </template>

        </q-splitter>
    </div>
</template>

<script>
import AccountView from 'src/components/common/account/account-view'
import AccountProfile from 'src/components/common/account/account-profile'
import AccountAccounts from 'src/components/common/account/account-accounts'
import * as AccountTabEnum from 'src/scripts/enums/AccountTabEnum'

export default {
    name: "account-horizontal",
    components: {
        AccountView,
        AccountProfile,
        AccountAccounts,
    },
    props: [
        'tabId',
        'onChangeTab',
    ],
    data() {
        return {
            tabIdLocal: this.tabId,
            splitterModel: this.setSplitterModel(),
        }
    },
    computed: {
        accountTabEnum() {
            return AccountTabEnum
        }
    },
    methods: {
        setSplitterModel() {
            return this.splitterModel = window.innerWidth > 900 ? 20 : 32
        }
    },
    mounted() {
        window.addEventListener("resize", () => {
            this.setSplitterModel()
        })
    },
    watch: {
        tabIdLocal() {
            this.onChangeTab(this.tabIdLocal)
        },
        tabId() {
            this.tabIdLocal = this.tabId
        }
    }
}
</script>

<style scoped>
.wrapper {
    height: calc(100vh - 50px - 16px - 16px);
}
.splitter {
    height: 100%;
}
.tabs > div {
    justify-content: flex-start;
}
</style>