<template>
    <logo-cards>
        <q-card>
            <q-card-section class="font-header-2">
                Вход
            </q-card-section>
            <q-separator />
            <q-card-section class="row items-center">
                <auth-form />
            </q-card-section>

            <q-card-actions class="flex justify-center">
                <to-register-button />
            </q-card-actions>
        </q-card>
    </logo-cards>
</template>

<script>
import AuthForm from 'src/components/common/forms/auth-form'
import ToRegisterButton from 'src/components/common/redirect-buttons/to-register-button'
import LogoCards from 'src/components/horizontal/logo-cards'

export default {
    name: "auth-horizontal",
    components: {
        AuthForm,
        ToRegisterButton,
        LogoCards,
    },
}
</script>