<template>
    <div class="eq-wrapper q-pa-md">
        <div class="row full-width justify-between">
            <div class="flex">
                <q-toggle
                    v-model="isOnLocal"
                    color="primary"
                    class="toggle"
                />
                <select-input
                    :disable="!isOnLocal"
                    :value="selectedPreset.label"
                    :options="selectorOptions"
                    :onChangeSelectedOption="onChangeSelectedOption"
                    class="preset q-ml-md"
                />
            </div>
            <div>
                <q-btn
                    label="Сбросить"
                    color="primary"
                    @click="resetEq"
                    :disable="!isOnLocal"
                />
            </div>
        </div>
        <div class="row q-mt-xl justify-center">
            <div class="flex justify-between levels">
                <frequency-level
                    v-for="(position, key) in eqFrequencyPositions"
                    :key="key"
                    :disable="!isOnLocal"
                    :label="position.label"
                    :id="position.id"
                    :value="getFrequencyLevelByKey(position.id)"
                    :showDescription="position.showDescription"
                    :onChangeFrequencyValue="onChangeFrequencyValue"
                />
            </div>
        </div>
    </div>
</template>

<script>
import SelectInput from 'src/components/common/inputs/select-input'
import FrequencyLevel from 'src/components/horizontal/eq/frequency-level'

export default {
    name: "eq",
    components: {
        SelectInput,
        FrequencyLevel,
    },
    props: [
        'isOn',
        'onToggleIsOn',
        'selectedPreset',
        'selectorOptions',
        'onChangeSelectedOption',
        'eqFrequencyPositions',
        'getFrequencyLevelByKey',
        'onChangeFrequencyValue',
        'resetEq',
    ],
    data() {
        return {
            isOnLocal: this.isOn,
            selectedPresetLocal: this.selectedPreset,
        }
    },
    watch: {
        isOn() {
            this.isOnLocal = this.isOn
        },
        isOnLocal() {
            this.onToggleIsOn(this.isOnLocal)
        },
        selectedPreset() {
            this.selectedPresetLocal = this.selectedPreset
        }
    }
}
</script>

<style lang="scss" scoped>
.preset {
    min-width: 250px;
}
.levels {
    width: 85%;
}
</style>