<template>
    <logo-cards>
        <q-card class="full-width card">
            <q-card-section class="font-header-2">
                Новый пароль
            </q-card-section>
            <q-separator />
            <q-card-section class="row items-center">
                <new-password-form />
            </q-card-section>
        </q-card>
    </logo-cards>
</template>

<script>
import LogoCards from 'src/components/horizontal/logo-cards'
import NewPasswordForm from 'src/components/common/forms/new-password-form'
import ToAuthButton from 'src/components/common/redirect-buttons/to-auth-button'

export default {
    name: "new-password-horizontal",
    components: {
        LogoCards,
        NewPasswordForm,
        ToAuthButton,
    }
}
</script>

<style scoped>

</style>