<template>
    <logo-cards>
        <q-card class="full-width card">
            <q-card-section class="font-header-2">
                Восстановление пароля
            </q-card-section>
            <q-separator />
            <q-card-section class="row items-center">
                <password-recovery-form />
            </q-card-section>
        </q-card>
    </logo-cards>
</template>

<script>
import LogoCards from 'src/components/horizontal/logo-cards'
import PasswordRecoveryForm from 'src/components/common/forms/password-recovery-form'

export default {
    name: "password-recovery-horizontal",
    components: {
        LogoCards,
        PasswordRecoveryForm,
    }
}
</script>

<style scoped>
.card {
    min-height: 60vh;
}
</style>