<template>
    <logo-cards>
        <q-card>
            <q-card-section class="font-header-2">
                Регистрация
            </q-card-section>
            <q-separator />
            <q-card-section class="row items-center">
                <register-form />
            </q-card-section>

            <q-card-actions class="flex justify-center">
                <to-auth-button />
            </q-card-actions>
        </q-card>
    </logo-cards>
</template>

<script>
import RegisterForm from 'src/components/common/forms/register-form'
import ToAuthButton from 'src/components/common/redirect-buttons/to-auth-button'
import LogoCards from 'src/components/horizontal/logo-cards'

export default {
    name: "register-vertical",
    components: {
        RegisterForm,
        ToAuthButton,
        LogoCards,
    },
}
</script>