<template>
    <div>
        <menu-and-search-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
        <div class="row common-wrapper">
            <div class="col-md-7 col-6">
                <div class="player-wrapper q-px-md flex">
                    <track-name :class="['flex', 'items-center', 'justify-center', 'full-width', {'q-my-xl': !isSmallHeight}, {'q-my-md': isSmallHeight}]" />
                    <track-visualization class="full-width" v-if="!isSmallHeight"/>
                    <track-control-buttons class="flex items-end full-width q-mt-xs"/>
                    <play-slider class="full-width" />
                    <track-additional-buttons
                        class="flex items-center full-width justify-center"
                        size="lg"
                        :isVertical="false"
                        :isSmallHeight="isSmallHeight"
                    />
                </div>
            </div>
            <div class="col-md-5 col-6 playlist background-secondary">
                <playlist-tabs />
            </div>
        </div>
    </div>
</template>

<script>
import MenuAndSearchHeader from 'src/components/common/headers/menu-and-search-header'
import TrackAdditionalButtons from 'src/components/common/track/track-additional-buttons'
import TrackName from 'src/components/common/track/track-name'
import TrackVisualization from 'src/components/common/track/track-visualization'
import PlaySlider from 'src/components/common/track/play-slider'
import TrackControlButtons from 'src/components/common/track/track-control-buttons'
import PlaylistTabs from 'src/components/common/playlist/playlist-tabs'

export default {
    name: "track-and-playlist-horizontal",
    props: [
        'onToggleLeftDrawer',
    ],
    components: {
        MenuAndSearchHeader,
        TrackAdditionalButtons,
        TrackName,
        TrackVisualization,
        PlaySlider,
        TrackControlButtons,
        PlaylistTabs,
    },
    data() {
        return {
            isSmallHeight: this.setIsSmallHeight(),
        }
    },
    methods: {
        setIsSmallHeight() {
            return this.isSmallHeight = window.innerHeight < 630
        }
    },
    mounted() {
        window.addEventListener("resize", () => {
            this.setIsSmallHeight()
        })
    },
}
</script>

<style scoped>
.common-wrapper {
    min-height: calc(100vh - 50px);
}
.player-wrapper {
    min-height: calc(100vh - 50px);
    position: fixed;
    width: inherit;
    height: inherit;
}
.playlist {

}
</style>