<template>
    <q-card-section>
        <div class="row">
            Тема
        </div>
        <div class="row items-center q-pt-sm">
            <div>Светлая</div>
            <q-toggle v-model="isDarkTheme"/>
            <div>Темная</div>
        </div>
    </q-card-section>
</template>

<script>
import ColorThemeController from 'src/scripts/controllers/ColorThemeController'

export default {
    name: "account-view",
    data() {
        return {
            isDarkTheme: ColorThemeController.getInstance().getIsDarkTheme(),
        }
    },
    watch: {
        isDarkTheme() {
            ColorThemeController.getInstance().setIsDarkTheme(this.isDarkTheme)
        }
    }
}
</script>