<template>
    <q-card-section>
        <div class="row">
            Сменить пароль
        </div>
        <div class="row">
            <q-input
                class="full-width"
                type="password"
                v-model="oldPass"
                clearable
                placeholder="Старый пароль"
            />
        </div>
        <div class="row">
            <q-input
                placeholder="Новый пароль"
                class="full-width"
                type="password"
                v-model="newPass"
                clearable
            />
        </div>
        <div class="row">
            <q-input
                placeholder="Новый пароль ещё раз"
                class="full-width"
                type="password"
                v-model="newPassConfirm"
                clearable
            />
        </div>
        <div class="row q-mt-md">
            <q-btn
                label="Сменить пароль"
                color="primary"
            />
            <q-btn
                class="q-ml-sm"
                label="Выйти"
                color="primary"
            />
        </div>
    </q-card-section>
</template>

<script>
export default {
    name: "account-profile",
    data() {
        return {
            oldPass: '',
            newPass: '',
            newPassConfirm: '',
        }
    },
}
</script>

<style scoped>

</style>