<template>
    <q-card-section>
        <div class="row">{{ name }}</div>
        <div class="row">
            <q-input
                class="full-width"
                :placeholder="placeholder"
                v-model="urlLocal"
                clearable
            />
        </div>
        <div
            class="row font-color-secondary font-description"
            v-if="hasUpdate"
        >
            Последнее сканирование - {{ lastUpdateDate }} в {{ lastUpdateTime }}
        </div>
        <div class="row q-mt-sm">
            <q-btn
                :label="scanLabel"
                color="primary"
                @click="onScan"
            />
        </div>
    </q-card-section>
</template>

<script>
export default {
    name: "account-accounts-integration",
    props: [
        'name',
        'url',
        'placeholder',
        'hasUpdate',
        'lastUpdateDate',
        'lastUpdateTime',
        'onScan',
    ],
    data() {
        return {
            urlLocal: this.url,
        }
    },
    computed: {
        scanLabel() {
            return this.hasUpdate ? 'Обновить' : 'Добавить в плейлист'
        }
    }
}
</script>

<style scoped>

</style>