<template>
    <q-card-section>
        <div class="row">
            Ваши профили
            <q-icon
                class="q-ml-sm"
                name="error_outline"
            >
                <q-tooltip>
                    Здесь можно ввести ссылку на личную страницу в музыкальном сервисе или социальной сети. После нажатия на кнопку "Добавить в плейлист" ваш плейлист будет перенесен в Top Melody плеер.
                </q-tooltip>
            </q-icon>
        </div>
    </q-card-section>
    <account-accounts-integration
        v-for="integration in integrations"
        :key="integration.name"
        :name="integration.name"
        :url="integration.url"
        :placeholder="integration.placeholder"
        :hasUpdate="integration.hasUpdate"
        :lastUpdateDate="integration.lastUpdateDate"
        :lastUpdateTime="integration.lastUpdateTime"
    />
</template>

<script>
import AccountAccountsIntegration from 'src/components/common/account/account-accounts-integration'
import IntegrationsData from 'src/scripts/data/Integrations'

export default {
    name: "account-accounts",
    components: {
        AccountAccountsIntegration,
    },
    computed: {
        integrations() {
            return IntegrationsData
        }
    }
}
</script>

<style scoped>

</style>