<template>
    <div class="wrapper">
        <div class="flex no-wrap items-center">
            <q-btn
                flat
                round
                :class="[{'font-color-app-primary': isPressedLocal}, {'text-text-secondary': !isPressedLocal}]"
                :icon="iconComputed"
                :size="size"
                @click="changeState"
            >
                <volume-level-vertical
                    v-if="icon === 'volume' && isVertical"
                    :level="volumeLevel"
                    :onSetVolumeLevel="onSetVolumeLevel"
                />
            </q-btn>
            <transition name="fade">
                <volume-level-horizontal
                    v-show="icon === 'volume' && !isVertical"
                    v-if="isPressedLocal"
                    :level="volumeLevel"
                    :onSetVolumeLevel="onSetVolumeLevel"
                    class="volume-horizontal q-ml-md"
                />
            </transition>
        </div>
    </div>
</template>

<script>
import VolumeLevelVertical from 'src/components/vertical/volume-level'
import VolumeLevelHorizontal from 'src/components/horizontal/volume-level'
import { useTrackStore } from 'src/stores/track-store'
import TrackController from 'src/scripts/controllers/TrackController'

export default {
    name: "track-additional-button",
    props: [
        'icon',
        'size',
        'isVertical',
        'isPressed',
        'onChangeState',
    ],
    components: {
        VolumeLevelVertical,
        VolumeLevelHorizontal,
    },
    data() {
        return {
            trackStore: useTrackStore(),
            isPressedLocal: this.isPressed
        }
    },
    computed: {
        volumeLevel() {
            return this.trackStore.volume
        },
        iconComputed() {
            if (this.icon === 'volume') {
                if(this.volumeLevel > 75) {
                    return 'volume_up'
                }

                if (this.volumeLevel > 30) {
                    return 'volume_down'
                }

                if (this.volumeLevel > 0) {
                    return 'volume_mute'
                }

                return 'volume_off'
            }

            if (this.icon == 'add' && this.isPressedLocal) {
                return 'done'
            }

            return this.icon
        },
    },
    methods: {
        changeState() {
            this.isPressedLocal = !this.isPressedLocal
            this.onChangeState(this.icon)
        },
        onSetVolumeLevel(value) {
            TrackController.getInstance().setVolume(value)
        },
    },
    watch: {
        isPressed() {
            this.isPressedLocal = this.isPressed
        }
    }
}
</script>

<style lang="scss" scoped>
.wrapper {
    position: relative;
}
.volume-horizontal {
    min-width: 169px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>