<template>
    <q-btn
        round
        :flat="flat"
        size="lg"
        color="primary"
        @click="changeIsPlaying"
    >
        <q-icon
            :name="iconComputed"
            :class="[{'scale': needScale}]"
        />
    </q-btn>
</template>

<script>
export default {
    name: "track-play-pause-button",
    props: {
        isPlaying: Boolean,
        needScale: Boolean,
        flat: Boolean,
        onIsPlayingChange: {
            type: Function,
            default: () => {},
        },
    },
    computed: {
        iconComputed() {
            return this.isPlaying ? 'pause' : 'play_arrow'
        }
    },
    methods: {
        changeIsPlaying() {
            const newState = !this.isPlaying
            this.onIsPlayingChange(newState)
        }
    },
}
</script>

<style scoped>
.scale {
    transform: scale(2, 2);
}
</style>