<template>
    <q-dialog v-model="showLocal">
        <q-card>
            <q-card-section>
                Обновление завершено успешно! Для завершения необходимо перезапустить приложение.
            </q-card-section>

            <q-card-actions align="right">
                <q-btn
                    label="Перезапустить"
                    color="primary"
                    @click="reloadPage()"
                />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>

<script>
export default {
    name: "about-update-modal",
    props: [
        'show',
        'onChangeShow',
    ],
    data() {
        return {
            showLocal: this.show,
        }
    },
    methods: {
        reloadPage() {
            location.reload()
        }
    },
    watch: {
        show() {
            this.showLocal = this.show
        },
        showLocal() {
            this.onChangeShow(this.showLocal)
        }
    }
}
</script>