<template>
    <q-dialog v-model="showLocal">
        <q-card>
            <q-card-section>
                Кеш успешно очищен! Сохраненные аудиозаписи удалены.
            </q-card-section>

            <q-card-actions align="right">
                <q-btn
                    label="Отлично"
                    color="primary"
                    v-close-popup
                />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>

<script>
export default {
    name: "about-cache-modal",
    props: [
        'show',
        'onChangeShow',
    ],
    data() {
        return {
            showLocal: this.show,
        }
    },
    watch: {
        show() {
            this.showLocal = this.show
        },
        showLocal() {
            this.onChangeShow(this.showLocal)
        }
    },
}
</script>

<style scoped>

</style>