<template>
    <q-dialog v-model="showLocal">
        <q-card>
            <q-card-section class="q-pa-lg">
                Новый пароль установлен
            </q-card-section>

            <q-card-actions align="right" class="q-mt-lg">
                <q-btn
                    label="Войти"
                    color="primary"
                    :to="trackPage"
                />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>

<script>
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "new-password-password-changed-modal",
    props: [
        'show',
        'onChangeShow',
    ],
    data() {
        return {
            showLocal: this.show,
        }
    },
    computed: {
        trackPage() {
            return PageRouteEnum.Track
        }
    },
    watch: {
        show() {
            this.showLocal = this.show
        },
        showLocal() {
            this.onChangeShow(this.showLocal)
        }
    },
}
</script>