<template>
    <q-dialog v-model="showLocal">
        <q-card>
            <q-card-section class="q-pa-lg">
                Инструкция по восстановлению пароля отправлена на указанный email
            </q-card-section>

            <q-card-actions align="right" class="q-mt-lg">
                <q-btn label="Понятно" color="primary" v-close-popup />
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>

<script>
export default {
    name: "password-recovery-send-to-email-modal",
    props: [
        'show',
        'onChangeShow',
    ],
    data() {
        return {
            showLocal: this.show,
        }
    },
    watch: {
        show() {
            this.showLocal = this.show
        },
        showLocal() {
            this.onChangeShow(this.showLocal)
        }
    },
}
</script>

<style scoped>

</style>