<template>
    <q-menu auto-close>
        <q-list class="popup-list q-py-sm">
            <playlist-more-options-item
                text="Добавить в мой плейлист"
            />
            <playlist-more-options-item
                text="Удалить из моего плейлиста"
            />
            <playlist-more-options-item
                text="Сохранить"
            />
            <playlist-more-options-item
                text="Удалить из сохраненных"
            />
        </q-list>
    </q-menu>
</template>

<script>
import PlaylistMoreOptionsItem from 'src/components/common/modals/playlist-more-options-item'

export default {
    name: "playlist-more-options-popup",
    components: {
        PlaylistMoreOptionsItem,
    }
}
</script>

<style scoped>
.popup-list {
    min-width: 280px;
}
</style>