<template>
    <q-item clickable v-ripple class="font-secondary">
        <q-item-section>
            <q-item-label :lines="1">{{text}}</q-item-label>
        </q-item-section>
    </q-item>
</template>

<script>
export default {
    name: "playlist-more-options-item",
    props: [
        'text',
    ]
}
</script>

<style scoped>

</style>