<template>
    <div>
        <q-tabs
            v-model="tab"
            align="justify"
            narrow-indicator
            active-class="tab-active"
            indicator-color="$textPrimary"
            class="font-color-secondary font-button q-pt-sm"
        >
            <q-tab
                v-for="playlistData in playlists"
                class="tab-header"
                :name="playlistData.id"
                :label="playlistData.name"
            />
        </q-tabs>

        <q-tab-panels v-model="tab" animated class="q-mt-sm">
            <q-tab-panel
                v-for="playlistData in playlists"
                :name="playlistData.id"
                class="q-pa-none"
            >
                <playlist :playlistId="playlistData.id"/>
            </q-tab-panel>
        </q-tab-panels>
    </div>
</template>

<script>
import Playlist from 'src/components/common/playlist/playlist'
import Playlists from 'src/scripts/data/Playlists'
import { useTrackStore } from 'src/stores/track-store'

export default {
    name: "playlist-tabs",
    components: {
        Playlist,
    },
    data() {
        return {
            tab: useTrackStore().currentPlaylistId,
        }
    },
    computed: {
        playlists() {
            return Playlists
        }
    }
}
</script>

<style lang="scss" scoped>
.tab-header.tab-active {
    color: $textPrimary;
}
</style>