<template>
    <q-list>
        <track-item
            v-for="track in tracks"
            :id="track.id"
            :key="track.id"
            :name="track.name"
            :authorName="track.authorName"
            :duration="track.duration"
            :addState="state(track.isOnMyPlaylist)"
            :isPlaying="isPlaying(track.id)"
            :isCurrent="isCurrent(track.id)"
            :playlistId="playlistId"
        />
    </q-list>
</template>

<script>
import * as TrackStateEnum from 'src/scripts/enums/TrackStateEnum'
import TrackItem from 'src/components/common/playlist/track-item'
import { useTrackStore } from 'src/stores/track-store'

export default {
    name: "playlist",
    components: {
        TrackItem,
    },
    props: [
        'playlistId'
    ],
    data() {
        return {
            trackStore: useTrackStore(),
        }
    },
    computed: {
        tracks() {
            return this.trackStore.list[this.playlistId]
        }
    },
    methods: {
        state(isOnMyPlaylist) {
            if (isOnMyPlaylist) {
                return TrackStateEnum.ADDED
            }

            return TrackStateEnum.ADD;
        },
        isPlaying(id) {
            return this.trackStore.isPlaying && this.isCurrent(id)
        },
        isCurrent(id) {
            return this.trackStore.currentId === id && this.trackStore.currentPlaylistId === this.playlistId
        }
    },
}
</script>