<template>
    <q-item :class="['item', {'background-color-accent': isCurrent}]">
        <q-item-section avatar>
            <track-play-pause-button
                :isPlaying="isPlaying"
                :needScale="false"
                :flat="false"
                class="play-pause-button"
                :onIsPlayingChange="onIsPlayingChange"
            />
        </q-item-section>

        <q-item-section class="text-overflow">
            <q-item-label :lines="1">{{ name }}</q-item-label>
            <q-item-label :lines="1" class="font-color-secondary font-secondary">{{ authorName }}</q-item-label>
        </q-item-section>

        <q-item-section side>
            <div class="flex">
                <div class="flex column justify-center items-center">
                    <q-icon
                        v-if="Math.random() >= 0.5"
                        name="cloud_download"
                        color="primary"
                        flat
                        dense
                        round
                        size="sm"
                    />
                    <q-item-label
                        class="text-overflow duration font-button font-color-secondary"
                        :lines="1"
                    >
                        {{ timeString }}
                    </q-item-label>
                </div>
                <q-btn
                    class="q-ml-sm flex self-center"
                    icon="more_vert"
                    color="text-secondary"
                    flat
                    dense
                    round
                    size="md"
                >
                    <playlist-more-options-popup
                        class="options-popup"
                    />
                </q-btn>
            </div>
        </q-item-section>
    </q-item>
</template>

<script>
import Utils from 'src/scripts/helpers/Utils'
import TrackPlayPauseButton from 'src/components/common/buttons/track-play-pause-button'
import PlaylistMoreOptionsPopup from 'src/components/common/modals/playlist-more-options-popup'
import { useTrackStore } from 'src/stores/track-store'
import TrackController from 'src/scripts/controllers/TrackController'

export default {
    name: "track-item",
    components: {
        TrackPlayPauseButton,
        PlaylistMoreOptionsPopup,
    },
    data() {
        return {
            addStateLocal: this.addState,
            trackStore: useTrackStore(),
        }
    },
    props: [
        'id',
        'name',
        'authorName',
        'duration',
        'addState',
        'isPlaying',
        'isCurrent',
        'playlistId',
    ],
    computed: {
        timeString() {
            return Utils.getTimeStringFromDuration(this.duration)
        }
    },
    methods: {
        onIsPlayingChange(isPlaying) {
            if (
                this.id !== this.trackStore.currentId
                || this.playlistId !== this.trackStore.currentPlaylistId
            ) {
                TrackController.getInstance().setCurrentPlaylistId(this.playlistId)
                TrackController.getInstance().setCurrentId(this.id)
            }

            TrackController.getInstance().setIsPlaying(isPlaying)
        },
    }
}
</script>

<style lang="scss" scoped>
.item {
    min-height: 64px;
    border-right: 4px;
}
.duration {
    display: inline-flex;
}
.options-popup {
    width: 100%;
}
.play-pause-button {
    font-size: 12px !important;
    filter: inherit;
}
</style>