<template>
    <div class="slider-wrapper">
        <div class="full-width">
            <div class="time-labels row justify-between">
                <div class="font-color-secondary font-button">{{currentTime}}</div>
                <div class="font-color-secondary font-button">{{durationTime}}</div>
            </div>
            <q-slider
                :min="0"
                :max="currentDuration"
                v-model="currentPosition"
                dense
                class="q-mt-sm"
                track-size="2px"
                thumb-size="16px"
            />
        </div>
    </div>
</template>

<script>
import Utils from 'src/scripts/helpers/Utils'
import { useTrackStore } from 'src/stores/track-store'
import TrackController from 'src/scripts/controllers/TrackController'

export default {
    name: "play-slider",
    data() {
        return {
            trackStore: useTrackStore(),
        }
    },
    computed: {
        currentDuration() {
            return this.trackStore.current.duration
        },
        currentPosition: {
            get() {
                return this.trackStore.currentPosition
            },
            set(value) {
                TrackController.getInstance().setCurrentPosition(value)
            }
        },
        currentTime() {
            return Utils.getTimeStringFromDuration(this.currentPosition)
        },
        durationTime() {
            return Utils.getTimeStringFromDuration(this.currentDuration)
        }
    }
}
</script>

<style scoped>
</style>