<template>
    <div class="full-width">
        <div class="full-width">
            <q-item class="row justify-center font-color-primary item q-py-xs">
                <q-item-label class="font-header-1 text-overflow" :lines="1"> {{name}} </q-item-label>
            </q-item>
            <q-item class="row justify-center item q-py-xs">
                <q-item-label class="font-header-1 font-color-secondary text-overflow" :lines="1"> {{author}} </q-item-label>
            </q-item>
        </div>
    </div>
</template>

<script>
import { useTrackStore } from 'src/stores/track-store'

export default {
    name: "track-name",
    data() {
        return {
            trackStore: useTrackStore(),
        }
    },
    computed: {
        name() {
            return this.trackStore.current.name
        },
        author() {
            return this.trackStore.current.authorName
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    min-height: 0;
}
</style>