<template>
    <div class="row">
        <div
            v-for="(icon, key) in icons"
            :key="key"
            class="row justify-center items-center flex"
        >
            <track-additional-button
                :icon="icon"
                :size="size"
                :class="[{'q-mx-sm': !isSmallHeight && !isVertical}, {'q-mx-xs': isSmallHeight && !isVertical}]"
                :isVertical="isVertical || isSmallHeight"
                :isPressed="isPressed(icon)"
                :onChangeState="onChangeState"
            />
        </div>
    </div>
</template>

<script>
import TrackAdditionalButton from 'src/components/common/buttons/track-additional-button'
import { useTrackStore } from 'src/stores/track-store'
import TrackController from 'src/scripts/controllers/TrackController'

const icons = [
    'add',
    'shuffle',
    'replay',
    'volume',
]

export default {
    name: "track-additional-buttons",
    components: {
        TrackAdditionalButton
    },
    data() {
        return {
            icons: icons,
            trackStore: useTrackStore(),
        }
    },
    props: [
        'size',
        'isVertical',
        'isSmallHeight',
    ],
    methods: {
        isPressed(icon) {
            switch (icon) {
                case 'add':
                    return this.trackStore.current.isOnMyPlaylist
                case 'shuffle':
                    return this.trackStore.isShuffle
                case 'replay':
                    return this.trackStore.isRepeat
            }

            return false
        },
        onChangeState(icon) {
            switch (icon) {
                case 'add':
                    return
                case 'shuffle':
                    TrackController.getInstance().setIsShuffle(!this.trackStore.isShuffle)
                    return
                case 'replay':
                    TrackController.getInstance().setIsRepeat(!this.trackStore.isRepeat)
                    return
            }
        }
    }
}
</script>

<style scoped>

</style>