<template>
    <div class="controls-wrapper row justify-center">
        <div class="flex items-center">
            <q-btn
                icon="fast_rewind"
                round
                color="primary"
                size="lg"
                flat
                @click="decrementTrack"
            />
            <track-play-pause-button
                :isPlaying="isPlaying"
                class="q-pa-md"
                :needScale="true"
                :flat="true"
                :onIsPlayingChange="onIsPlayingChange"
            />
            <q-btn
                icon="fast_forward"
                round
                color="primary"
                size="lg"
                flat
                @click="incrementTrack"
            />
        </div>
    </div>
</template>

<script>
import TrackPlayPauseButton from 'src/components/common/buttons/track-play-pause-button'
import { useTrackStore } from 'src/stores/track-store'
import TrackController from 'src/scripts/controllers/TrackController'

export default {
    name: "track-control-buttons",
    components: {
        TrackPlayPauseButton,
    },
    data() {
        return {
            trackStore: useTrackStore(),
        }
    },
    computed: {
        isPlaying() {
            return this.trackStore.isPlaying
        }
    },
    methods: {
        decrementTrack() {
            TrackController.getInstance().decrementCurrentId()
        },
        incrementTrack() {
            TrackController.getInstance().incrementCurrentId()
        },
        onIsPlayingChange(newState) {
            TrackController.getInstance().setIsPlaying(newState)
        }
    }
}
</script>