<template>
    <div class="flex items-center">
        <div
            ref="visualizationWrapper"
            class="visualization-wrapper row justify-center items-center"
        >
            <div
                v-for="frequency in frequencies"
                :key="frequency.key"
                :style="'height: ' + frequency.height + 'px; opacity: ' + frequency.opacity + ';'"
                class="frequency background-color-app-primary"
            />
        </div>
    </div>
</template>

<script>
import AudioController from 'src/scripts/controllers/AudioController'
import { useTrackStore } from 'src/stores/track-store'

const columnWidthInPx = 10
const minColumnHeightInPx = 10

const minOpacityValue = 0.6

export default {
    name: "track-visualization",
    data() {
        return {
            wrapperWidth: 0,
            wrapperHeight: 0,
            frequencies: [],
            trackStore: useTrackStore(),
            pauseTimeout: null,

            positionsCache: {
                forCountOfFrequencies: null,
                forDataPositionsCount: null,
                positions: []
            },
        }
    },
    methods: {
        calculate() {
            if (this.$refs.visualizationWrapper) {
                this.wrapperWidth = this.$refs.visualizationWrapper.clientWidth - columnWidthInPx
                this.wrapperHeight = this.$refs.visualizationWrapper.clientHeight
                let countOfFrequencies = Math.floor(this.wrapperWidth / columnWidthInPx)

                this.frequencies = []
                const frequenciesLevelData = AudioController.getInstance().getFrequenciesLevelData()
                const frequenciesLevelDataPositions = this.getFrequenciesLevelDataPositions(countOfFrequencies, frequenciesLevelData.length)
                for (let i = 0; i < countOfFrequencies; i++) {
                    const levelPercent = frequenciesLevelData.length === 0
                        ? 0
                        : +(frequenciesLevelData[frequenciesLevelDataPositions[i]] / 255).toFixed(2)
                    this.frequencies.push({
                        key: i,
                        height: Math.round(levelPercent * (this.wrapperHeight - minColumnHeightInPx) + minColumnHeightInPx),
                        opacity: (levelPercent * (1 - minOpacityValue) + minOpacityValue).toFixed(2),
                    })
                }
            }
        },
        getFrequenciesLevelDataPositions(countOfFrequencies, dataPositionsCount) {
            if (dataPositionsCount === 0) {
                return []
            }

            if (
                this.positionsCache.forCountOfFrequencies === countOfFrequencies
                && this.positionsCache.forDataPositionsCount === dataPositionsCount
            ) {
                return this.positionsCache.positions
            }

            // Нелинейная выборка позиций с имитацией вероятности по графику (под человеческий слух)
            // y = 1 - pow(x, 3), где x - 0...1
            const rangeToCountPositionsMapping = [
                {
                    rangeMin: 0,
                    rangeMax: 0.1,
                    count: 0.45,
                },
                {
                    rangeMin: 0.1,
                    rangeMax: 0.3,
                    count: 0.25
                },
                {
                    rangeMin: 0.3,
                    rangeMax: 0.5,
                    count: 0.2,
                },
                {
                    rangeMin: 0.5,
                    rangeMax: 1,
                    count: 0.1,
                }
            ]

            let positions = []
            try {
                for (let i = 0; i < rangeToCountPositionsMapping.length; i++) {
                    const range = rangeToCountPositionsMapping[i]
                    const minPosition = Math.floor(range.rangeMin * dataPositionsCount)
                    const maxPosition = Math.floor(range.rangeMax * dataPositionsCount)
                    const needPositionsCount = Math.floor(range.count * countOfFrequencies)

                    const countOfSelectedPositions = maxPosition - minPosition
                    if (needPositionsCount > countOfSelectedPositions) {
                        throw 'Ошибка выборки позиций с помощью диапазонов'
                    }

                    const step = Math.floor(countOfSelectedPositions / needPositionsCount)
                    for (let j = minPosition; j < maxPosition; j += step) {
                        positions.push(j)
                    }
                }
            } catch (e) {
                positions = []
                const step = Math.floor(dataPositionsCount / countOfFrequencies)
                for (let i = 0; i < dataPositionsCount; i += step) {
                    positions.push(i)
                }
            }

            this.positionsCache.forCountOfFrequencies = countOfFrequencies
            this.positionsCache.forDataPositionsCount = dataPositionsCount
            this.positionsCache.positions = positions

            return positions
        },
        animate() {
            window.requestAnimationFrame(this.animate)

            if (!this.trackStore.isPlaying) {
                return
            }

            this.calculate()
        },
    },
    computed: {
        isPlaying() {
            return this.trackStore.isPlaying
        }
    },
    mounted() {
        this.calculate()
        window.addEventListener("resize", () => {
            this.calculate()
        })

        this.animate()
    },
    watch: {
        isPlaying() {
            if (this.isPlaying === false) {
                if (this.pauseTimeout) {
                    this.pauseTimeout = null
                }

                this.pauseTimeout = setTimeout(() => {
                    this.calculate()
                    this.pauseTimeout = null
                }, 1000)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.visualization-wrapper {
    @media screen and (max-width: 1239px) {
        height: 160px;
    }
    @media screen and (min-width: 1240px) {
        height: 200px;
    }
    width: 100%;
}

.frequency {
    width: 8px;
    height: 100%;
    border-radius: 4px;
    margin: 0 1px;
    transition: height .15s;
}
</style>