<template>
    <about-update-modal
        :show="updateAlert"
        :onChangeShow="onUpdateModalChangeShow"
    />
    <about-cache-modal
        :show="cacheAlert"
        :onChangeShow="onCacheModalChangeShow"
    />

    <div>
        <menu-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
        <div>
            <about-vertical
                v-if="pageSizeStore.isVerticalOrientation"
                :openUpdateModal="openUpdateModal"
                :openCacheModal="openCacheModal"
            />
            <about-horizontal
                v-if="!pageSizeStore.isVerticalOrientation"
                :openUpdateModal="openUpdateModal"
                :openCacheModal="openCacheModal"
            />
        </div>
    </div>
</template>

<script>
import MenuHeader from 'src/components/common/headers/menu-header'
import AboutUpdateModal from 'src/components/common/modals/about-update-modal'
import AboutCacheModal from 'src/components/common/modals/about-cache-modal'
import AboutVertical from 'src/pages/vertical/about-vertical'
import AboutHorizontal from 'src/pages/horizontal/about-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "about",
    props: [
        'onToggleLeftDrawer',
    ],
    components: {
        MenuHeader,
        AboutUpdateModal,
        AboutCacheModal,
        AboutVertical,
        AboutHorizontal,
    },
    data() {
        return {
            updateAlert: false,
            cacheAlert: false,
            pageSizeStore: usePageSizeStore(),
        }
    },
    methods: {
        onUpdateModalChangeShow(show) {
            this.updateAlert = show
        },
        onCacheModalChangeShow(show) {
            this.cacheAlert = show
        },
        openUpdateModal() {
            this.updateAlert = true
        },
        openCacheModal() {
            this.cacheAlert = true
        }
    },
}
</script>