<template>
    <menu-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
    <account-vertical v-if="pageSizeStore.isVerticalOrientation" :tabId="tabId" :onChangeTab="onChangeTab" />
    <account-horizontal v-if="!pageSizeStore.isVerticalOrientation" :tabId="tabId" :onChangeTab="onChangeTab" />
</template>

<script>
import MenuHeader from 'src/components/common/headers/menu-header'
import AccountVertical from 'src/pages/vertical/account-vertical'
import AccountHorizontal from 'src/pages/horizontal/account-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'
import UrlHelper from 'src/scripts/helpers/UrlHelper'
import * as AccountTabEnum from 'src/scripts/enums/AccountTabEnum'

export default {
    name: "profile",
    components: {
        MenuHeader,
        AccountVertical,
        AccountHorizontal,
    },
    props: [
        'onToggleLeftDrawer',
    ],
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
            tabId: UrlHelper.getParam('tab') ?? AccountTabEnum.Accounts
        }
    },
    methods: {
        onChangeTab(tabId) {
            this.tabId = tabId
            UrlHelper.setParam('tab', tabId)
        }
    },
}
</script>