<template>
    <simple-text-header :title="$route.meta.title" />
    <auth-vertical v-if="pageSizeStore.isVerticalOrientation" />
    <auth-horizontal v-if="!pageSizeStore.isVerticalOrientation" />
</template>

<script>
import SimpleTextHeader from 'src/components/common/headers/simple-text-header'
import AuthVertical from 'src/pages/vertical/auth-vertical'
import AuthHorizontal from 'src/pages/horizontal/auth-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "auth",
    components: {
        SimpleTextHeader,
        AuthVertical,
        AuthHorizontal,
    },
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
}
</script>