<template>
    <menu-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
    <eq-vertical
        v-if="pageSizeStore.isVerticalOrientation"
        :isOn="isOn"
        :onToggleIsOn="onToggleIsOn"
        :selectedPreset="selectedPreset"
        :selectorOptions="selectorOptions"
        :onChangeSelectedOption="onChangeSelectedOption"
        :eqFrequencyPositions="eqFrequencyPositions"
        :getFrequencyLevelByKey="getFrequencyLevelByKey"
        :onChangeFrequencyValue="onChangeFrequencyValue"
        :resetEq="resetEq"
    />
    <eq-horizontal
        v-if="!pageSizeStore.isVerticalOrientation"
        :isOn="isOn"
        :onToggleIsOn="onToggleIsOn"
        :selectedPreset="selectedPreset"
        :selectorOptions="selectorOptions"
        :onChangeSelectedOption="onChangeSelectedOption"
        :eqFrequencyPositions="eqFrequencyPositions"
        :getFrequencyLevelByKey="getFrequencyLevelByKey"
        :onChangeFrequencyValue="onChangeFrequencyValue"
        :resetEq="resetEq"
    />
</template>

<script>
import MenuHeader from 'src/components/common/headers/menu-header'
import EqPresetController from 'src/scripts/controllers/EqPresetController'
import EqFrequencyPositions from 'src/scripts/data/EqFrequencyPositions'
import * as EqPresetsEnum from 'src/scripts/enums/EqPresetsEnum'
import EqVertical from 'src/pages/vertical/eq'
import EqHorizontal from 'src/pages/horizontal/eq'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "eq",
    components: {
        MenuHeader,
        EqVertical,
        EqHorizontal,
    },
    props: [
        'onToggleLeftDrawer',
    ],
    data() {
        return {
            isOn: EqPresetController.getInstance().getIsOn(),
            selectedPreset: EqPresetController.getInstance().getSelectedPreset(),
            resentChangeEqByPresetSelector: false,
            pageSizeStore: usePageSizeStore(),
        }
    },
    computed: {
        selectorOptions() {
            return EqPresetController.getInstance().getSelectorOptions()
        },
        eqFrequencyPositions() {
            return EqFrequencyPositions
        },
    },
    methods: {
        onChangeSelectedOption(presetObject) {
            this.resentChangeEqByPresetSelector = true
            setTimeout(() => {
                this.resentChangeEqByPresetSelector = false
            }, 250)

            EqPresetController.getInstance().setSelectedPresetId(presetObject.value)
            this.selectedPreset = EqPresetController.getInstance().getSelectedPreset()
        },
        getFrequencyLevelByKey(key) {
            return this.selectedPreset[key]
        },
        onChangeFrequencyValue(id, value) {
            if (this.resentChangeEqByPresetSelector) {
                return
            }

            EqPresetController.getInstance().changeFrequencyValue(id, value)
            this.selectedPreset = EqPresetController.getInstance().getSelectedPreset()
        },
        resetEq() {
            EqPresetController.getInstance().setSelectedPresetId(EqPresetsEnum.MY)
            this.selectedPreset = EqPresetController.getInstance().getSelectedPreset()
        },
        onToggleIsOn(value) {
            this.isOn = value
        },
    },
    watch: {
        isOn() {
            EqPresetController.getInstance().setIsOn(this.isOn)
        }
    },
}
</script>