<template>
    <div class="fullscreen bg-primary text-white text-center q-pa-md flex flex-center">
        <div>
            <div class="row justify-center">
                <span style="font-size: 30vh; line-height: 40vh;">404</span>
            </div>
            <div class="row justify-center">
                <span style="opacity:.4;" class="font-header-1">
                    Страница не найдена :(
                </span>
            </div>

            <q-btn
                class="q-mt-xl"
                color="white"
                text-color="primary"
                unelevated
                to="/"
                label="Go Home"
                no-caps
            />
        </div>
    </div>
</template>

<script>
import {defineComponent} from 'vue'

export default defineComponent({
    name: 'ErrorNotFound'
})
</script>
