<template>
    <backward-header :title="$route.meta.title" :backwardTo="authPage" />
    <new-password-vertical v-if="pageSizeStore.isVerticalOrientation"/>
    <new-password-horizontal v-if="!pageSizeStore.isVerticalOrientation"/>
</template>

<script>
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'
import BackwardHeader from 'src/components/common/headers/backward-header'
import NewPasswordVertical from 'src/pages/vertical/new-password-vertical'
import NewPasswordHorizontal from 'src/pages/horizontal/new-password-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "new-password",
    components: {
        BackwardHeader,
        NewPasswordVertical,
        NewPasswordHorizontal,
    },
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
    computed: {
        authPage() {
            return PageRouteEnum.Auth
        }
    },
}
</script>