<template>
    <backward-header :title="$route.meta.title" :backwardTo="authPage" />
    <password-recovery-vertical v-if="pageSizeStore.isVerticalOrientation"/>
    <password-recovery-horizontal v-if="!pageSizeStore.isVerticalOrientation" />
</template>

<script>
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'
import BackwardHeader from 'src/components/common/headers/backward-header'
import PasswordRecoveryVertical from 'src/pages/vertical/password-recovery-vertical'
import PasswordRecoveryHorizontal from 'src/pages/horizontal/password-recovery-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "password-recovery",
    components: {
        BackwardHeader,
        PasswordRecoveryVertical,
        PasswordRecoveryHorizontal,
    },
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
    computed: {
        authPage() {
            return PageRouteEnum.Auth
        }
    },
}
</script>