<template>
    <playlist-vertical
        :onToggleLeftDrawer="onToggleLeftDrawer"
        v-if="pageSizeStore.isVerticalOrientation"
    />
    <track-and-playlist-horizontal
        v-if="!pageSizeStore.isVerticalOrientation"
        :onToggleLeftDrawer="onToggleLeftDrawer"
    />
</template>

<script>
import PlaylistVertical from 'src/pages/vertical/playlist-vertical'
import TrackAndPlaylistHorizontal from 'src/pages/horizontal/track-and-playlist-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "playlist",
    props: [
        'onToggleLeftDrawer',
    ],
    components: {
        PlaylistVertical,
        TrackAndPlaylistHorizontal,
    },
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
}
</script>