<template>
    <backward-header :title="$route.meta.title" :backwardTo="authPage" />
    <register-vertical v-if="pageSizeStore.isVerticalOrientation" />
    <register-horizontal v-if="!pageSizeStore.isVerticalOrientation" />
</template>

<script>
import BackwardHeader from 'src/components/common/headers/backward-header'
import RegisterVertical from 'src/pages/vertical/register-vertical'
import RegisterHorizontal from 'src/pages/horizontal/register-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "register",
    components: {
        BackwardHeader,
        RegisterVertical,
        RegisterHorizontal,
    },
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
    computed: {
        authPage() {
            return PageRouteEnum.Auth
        }
    },
}
</script>