<template>
    <track-vertical
        v-if="pageSizeStore.isVerticalOrientation"
        :onToggleLeftDrawer="onToggleLeftDrawer"
    />
    <track-and-playlist-horizontal
        v-if="!pageSizeStore.isVerticalOrientation"
        :onToggleLeftDrawer="onToggleLeftDrawer"
    />
</template>

<script>
import TrackVertical from 'src/pages/vertical/track-vertical'
import TrackAndPlaylistHorizontal from 'src/pages/horizontal/track-and-playlist-horizontal'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "Track",
    props: [
        'onToggleLeftDrawer',
    ],
    data() {
        return {
            pageSizeStore: usePageSizeStore(),
        }
    },
    components: {
        TrackVertical,
        TrackAndPlaylistHorizontal,
    },
}
</script>
