<template>
    <div class="full-width">
        <div class="row">
            <div class="col-2 flex justify-center items-center">
                {{ label }}
            </div>
            <div class="col-1"></div>
            <div class="col-9 flex justify-center items-center">
                <q-slider
                    v-model="valueLocal"
                    :min="-12"
                    :max="12"
                    :disable="disableLocal"
                    label
                    track-size="2px"
                    thumb-size="16px"
                    @click="onDoubleClick"
                />
            </div>
        </div>
        <div
            v-if="showDescription"
            class="row full-width font-secondary font-color-secondary"
        >
            <div class="col-3"></div>
            <div class="col-9 row">
                <div class="col-4 flex justify-start">-12 дБ</div>
                <div class="col-4 flex justify-center">0 дБ</div>
                <div class="col-4 flex justify-end">+12 дБ</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "frequency-level",
    props: [
        'disable',
        'label',
        'showDescription',
        'id',
        'value',
        'onChangeFrequencyValue'
    ],
    data() {
        return {
            valueLocal: this.value,
            disableLocal: this.disable,
            isClickedOnce: false,
        }
    },
    methods: {
        onDoubleClick() {
            if (!this.isClickedOnce) {
                this.isClickedOnce = true
                setTimeout(() => {
                    this.isClickedOnce = false
                }, 300)

                return
            }

            this.valueLocal = 0
        }
    },
    watch: {
        value() {
            this.valueLocal = this.value
        },
        valueLocal() {
            this.onChangeFrequencyValue(this.id, this.valueLocal)
        },
        disable() {
            this.disableLocal = this.disable
        }
    }
}
</script>

<style scoped>

</style>