<template>
    <div class="wrapper flex justify-center items-center">
        <div class="inner row">
            <div class="col-lg-2 col-0"></div>
            <div class="col-lg-3 col-6 flex justify-end items-center q-pr-md">
                <logo />
            </div>
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-4 col-6 flex justify-center items-center q-pr-md">
                <slot />
            </div>
            <div class="col-lg-2 col-0"></div>
        </div>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'

export default {
    name: "logo-cards",
    components: {
        Logo,
    }
}
</script>

<style lang="scss" scoped>
.wrapper {
    min-height: calc(100vh - 50px);
}
.inner {
    min-width: 80%;
    @media screen and (max-width: 900px) {
        min-width: 100%;
    }
}
</style>