<template>
    <q-slider
        v-model="levelLocal"
        :min="0"
        :max="100"
        label
        label-color="primary"
        class="horizontal-volume-slider"
        track-size="2px"
        thumb-size="16px"
    />
</template>

<script>
export default {
    name: "volume-level",
    props: [
        'level',
        'onSetVolumeLevel',
    ],
    data() {
        return {
            levelLocal: this.level,
        }
    },
    watch: {
        level() {
            this.levelLocal = this.level
        },
        levelLocal() {
            this.onSetVolumeLevel(this.levelLocal)
        },
        show() {
            this.showLocal = this.show
        },
    }
}
</script>

<style lang="scss">
.horizontal-volume-slider-menu {
    box-shadow: none !important;
    background: none !important;
}

</style>