<template>
    <div class="justify-between q-mx-xs q-mt-sm">
        <div class="flex items-center column">
            <q-slider
                v-model="valueLocal"
                :min="-12"
                :max="12"
                :disable="disableLocal"
                label
                vertical
                class="slider"
                reverse
                track-size="2px"
                thumb-size="16px"
                @dblclick="onDoubleClick"
            />
            <div class="flex justify-center q-mt-md"> {{ label }} </div>
        </div>
    </div>
    <div
        v-if="showDescription"
        class="font-secondary font-color-secondary column flex justify-between items-center description"
    >
        <div>+12 дБ</div>
        <div>0 дБ</div>
        <div>-12 дБ</div>
    </div>

</template>

<script>
export default {
    name: "frequency-level",
    props: [
        'disable',
        'label',
        'showDescription',
        'id',
        'value',
        'onChangeFrequencyValue'
    ],
    data() {
        return {
            valueLocal: this.value,
            disableLocal: this.disable,
        }
    },
    methods: {
        onDoubleClick() {
            this.valueLocal = 0
        }
    },
    watch: {
        value() {
            this.valueLocal = this.value
        },
        valueLocal() {
            this.onChangeFrequencyValue(this.id, this.valueLocal)
        },
        disable() {
            this.disableLocal = this.disable
        }
    }
}
</script>

<style lang="scss" scoped>
.slider {
    height: 60vh;
    min-height: 300px;
}
.description {
    padding-bottom: 40px;
}
</style>