html, body {
  scrollbar-color: $primary $bodyBackground; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: 20px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  background-color: $bodyBackground;
  max-width: 10px;
  border: none;
  outline: none;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $primary;
}

/* Стрелки */
::-webkit-scrollbar-button {
  display: none;
}