@import "roboto.fonts";
@import "shadows";
@import "fonts";
@import "icons";
@import "colors";
@import "patches/default-btn-patch";
@import "patches/default-toolbar-patch";
@import "patches/default-tab-panels-patch";
@import "patches/scrollbar-patch";

body {
  @media screen and (max-width: 1239px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 18px;
    line-height: 26px;
  }
  font-family: 'Roboto', sans-serif;
  color: $textPrimary;
  background-color: $white;
  min-width: 280px;
  min-height: 375px;
}

.text-overflow {
  text-overflow: ellipsis;
}

.logo-vertical {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}