.font-color-white {
  color: $white;
}

.font-color-primary {
  color: $textPrimary;
}

.font-color-secondary {
  color: $textSecondary;
}

.font-color-app-primary {
  color: $primary;
}

.background-white {
  background-color: $white;
}

.background-color-app-primary {
  background-color: $primary;
}

.background-color-accent {
  background-color: $accent;
}

.background-secondary {
  background-color: $backgroundSecondary;
}

//Кастомные цвет для палитры quasar
.text-white {
  color: $white !important;
}
.bg-white {
  background: $white !important;
}

.text-text-secondary {
  color: $textSecondary !important;
}

.bg-text-secondary {
  background: $textSecondary !important;
}

.text-font-primary {
  color: $textPrimary !important;
}

.bg-font-primary {
  background: $textPrimary !important;
}