.font-header-1 {
  @media screen and (max-width: 1239px) {
    font-size: 24px;
    line-height: 36px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 28px;
    line-height: 42px;
  }
  font-weight: 500;
}

.font-header-2 {
  font-size: 20px;
  font-weight: 500;
}

.font-primary {
  @media screen and (max-width: 1239px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 18px;
    line-height: 26px;
  }
}

.font-secondary {
  @media screen and (max-width: 1239px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 16px;
  }
}

.font-button {
  @media screen and (max-width: 1239px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 16px;
  }
  font-weight: 500;
  text-transform: uppercase;
}