.icons-big {
  @media screen and (max-width: 1239px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1240px) {
    font-size: 48px;
  }
}

.icons-regular {
  @media screen and (max-width: 1239px) {
    font-size: 24px !important;
  }
  @media screen and (min-width: 1240px) {
    font-size: 36px !important;
  }
}