// Кастомные переменные лежат внутри src/scripts/controllers/ColorThemeController.js

$primary: #009688;
$accent: var(--q-accent);
$dark: #1D1D1D;
$dark-page: #121212;

$white: #ffffff;
$backgroundSecondary: var(--q-background-secondary);
$bodyBackground: var(--q-body-background);
$textPrimary: var(--q-text-primary);
$textSecondary: var(--q-text-secondary);

// unnecessary
$secondary: #26A69A;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;


