<template>
    <q-item>
        <q-btn
            icon="delete_forever"
            label="Очистить историю поиска"
            color="primary"
            class="font-button"
            @click="openModal"
        />
        <q-dialog v-model="showModal" persistent>
            <q-card>
                <q-card-section class="row items-center">
                    <span class="q-ml-sm">Вы действительно хотите удалить историю поиска?</span>
                </q-card-section>

                <q-card-actions align="right">
                    <q-btn flat label="Нет" color="primary" v-close-popup />
                    <q-btn flat label="Да, хочу" color="primary" v-close-popup @click="onClearRecentQueries"/>
                </q-card-actions>
            </q-card>
        </q-dialog>
    </q-item>
</template>

<script>
export default {
    name: "clear-recent-queries",
    props: [
        'onClearRecentQueries'
    ],
    data() {
        return {
            showModal: false,
        }
    },
    methods: {
        openModal() {
            this.showModal = true
        },
        onCloseModal() {
            this.showModal = false
        }
    }
}
</script>