<template>
    <q-item>
        <q-item-section
            avatar
        >
            <q-icon
                name="report_problem"
                class="font-color-secondary"
            />
        </q-item-section>
        <q-item-section>
            Вы ещё ничего не искали...
        </q-item-section>
    </q-item>
</template>

<script>
export default {
    name: "no-recent-queries"
}
</script>