<template>
    <div>
        <div
            class="font-button font-color-secondary q-pa-md"
        >
            Недавние запросы
        </div>
        <q-list>
            <recent-query
                v-show="hasRecentQueries"
                v-for="(query, key) in recentQueries"
                :key="key"
                :query="query"
                @click="onSetSearchText(query)"
            />
            <no-recent-queries v-show="!hasRecentQueries" />
            <clear-recent-queries v-show="hasRecentQueries" :onClearRecentQueries="onClearRecentQueries"/>
        </q-list>

    </div>
</template>

<script>
import RecentQueriesController from 'src/scripts/controllers/RecentQueriesController'

import RecentQuery from 'src/components/common/recent-queries/recent-query'
import NoRecentQueries from 'src/components/common/recent-queries/no-recent-queries'
import ClearRecentQueries from 'src/components/common/recent-queries/clear-recent-queries'

export default {
    name: "recent-queries",
    props: [
        'onSetSearchText',
        'countOfSearches',
    ],
    data() {
        return {
            recentQueries: this.getRecentQueries()
        }
    },
    components: {
        RecentQuery,
        NoRecentQueries,
        ClearRecentQueries,
    },
    computed: {
        hasRecentQueries() {
            return this.recentQueries.length > 0
        }
    },
    methods: {
        getRecentQueries() {
            return RecentQueriesController.getInstance().getList()
        },
        onClearRecentQueries() {
            RecentQueriesController.getInstance().removeAll()
            this.recentQueries = this.getRecentQueries()
        },
    },
    watch: {
        countOfSearches() {
            this.recentQueries = this.getRecentQueries()
        }
    }
}
</script>