<template>
    <q-item
        class="recent-query-wrapper row"
        clickable
    >
        <q-item-section avatar>
            <q-icon
                name="search"
                class="font-color-secondary"
            />
        </q-item-section>
        <q-item-section class="font-color-primary">
            <q-item-label class="text-overflow" :lines="1">{{query}}</q-item-label>
        </q-item-section>
    </q-item>
</template>

<script>
export default {
    name: "recent-query",
    props: [
        'query',
    ],
}
</script>