<template>
    <div>
        <div class="row logo q-my-md">
            <logo />
        </div>
        <div class="row q-my-xl">
            <div class="col-12 flex justify-center">
                Версия 0.1.12 от 26.05.2022
            </div>
            <div class="col-12 flex justify-center">
                Разработчик -&nbsp;<a href="mailto:aa-chernyh@mail.ru" class="font-color-app-primary link">Александр Черных</a>
            </div>
            <div class="col-12 flex justify-center">
                <a href="https://gitlab.com/top-melody" class="font-color-app-primary link" target="_blank">Открыть в GitLab</a>
            </div>
        </div>
        <div class="row flex justify-center">
            <q-btn
                color="primary"
                label="Обновить"
                @click="openUpdateModal"
            />
            <q-btn
                class="q-ml-md"
                color="primary"
                label="Сбросить кеш"
                @click="openCacheModal"
            />
        </div>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'

export default {
    name: "about-vertical",
    props: [
        'openUpdateModal',
        'openCacheModal',
    ],
    components: {
        Logo,
    },
}
</script>

<style scoped>
.logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.link {
    text-decoration: none;
}
</style>