<template>
    <q-list bordered>
        <accordion
            icon="people_outline"
            label="Аккаунты"
            :isOpen="isOpen(accountTabEnum.Accounts)"
            :tabId="accountTabEnum.Accounts"
            :onChangeTab="onChangeTab"
        >
            <account-accounts />
        </accordion>
        <accordion
            icon="person"
            label="Профиль"
            :isOpen="isOpen(accountTabEnum.Profile)"
            :tabId="accountTabEnum.Profile"
            :onChangeTab="onChangeTab"
        >
            <account-profile />
        </accordion>
        <accordion
            icon="brush"
            label="Внешний вид"
            :isOpen="isOpen(accountTabEnum.View)"
            :tabId="accountTabEnum.View"
            :onChangeTab="onChangeTab"
        >
            <account-view />
        </accordion>
    </q-list>
</template>

<script>
import Accordion from 'src/components/vertical/accordion'
import AccountView from 'src/components/common/account/account-view'
import AccountProfile from 'src/components/common/account/account-profile'
import AccountAccounts from 'src/components/common/account/account-accounts'
import * as AccountTabEnum from 'src/scripts/enums/AccountTabEnum'

export default {
    name: "account-vertical",
    components: {
        Accordion,
        AccountView,
        AccountProfile,
        AccountAccounts,
    },
    props: [
        'tabId',
        'onChangeTab',
    ],
    data() {
        return {
            tabIdLocal: this.tabId,
        }
    },
    computed: {
        accountTabEnum() {
            return AccountTabEnum
        },
    },
    methods: {
        isOpen(tabId) {
            return this.tabIdLocal === tabId
        },
    }
}
</script>