<template>
    <div>
        <div class="row logo-vertical q-mt-lg q-mb-md">
            <logo :show="!isKeyboardShow"/>
        </div>
        <div class="row q-mx-md">
            <auth-form
                :onKeyboardChangeVisibility="onKeyboardChangeVisibility"
            />
        </div>
        <q-footer class="bg-background-primary font-color-primary flex justify-center">
            <to-register-button />
        </q-footer>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'
import AuthForm from 'src/components/common/forms/auth-form'
import ToRegisterButton from 'src/components/common/redirect-buttons/to-register-button'

export default {
    name: "auth-vertical",
    components: {
        Logo,
        AuthForm,
        ToRegisterButton,
    },
    data() {
        return {
            isKeyboardShow: false,
        }
    },
    methods: {
        onKeyboardChangeVisibility(isVisible) {
            this.isKeyboardShow = isVisible
        },
    },
}
</script>