<template>
    <div class="eq-wrapper q-pa-md">
        <div class="row full-width">
            <div class="col-2 flex items-center justify-center">
                <q-toggle
                    v-model="isOnLocal"
                    color="primary"
                    class="toggle"
                />
            </div>
            <div class="col-1"></div>
            <div class="col-9">
                <select-input
                    :disable="!isOnLocal"
                    :value="selectedPreset.label"
                    :options="selectorOptions"
                    :onChangeSelectedOption="onChangeSelectedOption"
                    class="preset"
                />
            </div>
        </div>
        <div class="row levels q-my-sm">
            <frequency-level
                v-for="(position, key) in eqFrequencyPositions"
                :key="key"
                :disable="!isOnLocal"
                :label="position.label"
                :id="position.id"
                :value="getFrequencyLevelByKey(position.id)"
                :showDescription="position.showDescription"
                :onChangeFrequencyValue="onChangeFrequencyValue"
                class="q-my-xs"
            />
        </div>
        <div class="row justify-end">
            <q-btn
                label="Сбросить"
                color="primary"
                @click="resetEq"
                :disable="!isOnLocal"
            />
        </div>
    </div>
</template>

<script>
import SelectInput from 'src/components/common/inputs/select-input'
import FrequencyLevel from 'src/components/vertical/eq/frequency-level'

export default {
    name: "eq",
    components: {
        SelectInput,
        FrequencyLevel,
    },
    props: [
        'isOn',
        'onToggleIsOn',
        'selectedPreset',
        'selectorOptions',
        'onChangeSelectedOption',
        'eqFrequencyPositions',
        'getFrequencyLevelByKey',
        'onChangeFrequencyValue',
        'resetEq',
    ],
    data() {
        return {
            isOnLocal: this.isOn,
            selectedPresetLocal: this.selectedPreset,
        }
    },
    watch: {
        isOn() {
            this.isOnLocal = this.isOn
        },
        isOnLocal() {
            this.onToggleIsOn(this.isOnLocal)
        },
        selectedPreset() {
            this.selectedPresetLocal = this.selectedPreset
        }
    }
}
</script>

<style lang="scss" scoped>
.preset {
    min-width: 250px;
}
</style>