<template>
    <div>
        <div class="row logo-vertical q-mt-lg q-mb-md">
            <logo :show="!isKeyboardShow"/>
        </div>
        <div class="row q-mx-md">
            <new-password-form
                :onKeyboardChangeVisibility="onKeyboardChangeVisibility"
            />
        </div>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'
import NewPasswordForm from 'src/components/common/forms/new-password-form'
import ToAuthButton from 'src/components/common/redirect-buttons/to-auth-button'

export default {
    name: "new-password-vertical",
    components: {
        Logo,
        NewPasswordForm,
        ToAuthButton,
    },
    data() {
        return {
            isKeyboardShow: false,
        }
    },
    methods: {
        onKeyboardChangeVisibility(isVisible) {
            this.isKeyboardShow = isVisible
        },
    },
}
</script>