<template>
    <div>
        <div class="row logo-vertical q-mt-lg q-mb-md">
            <logo :show="!isKeyboardShow"/>
        </div>
        <div class="row q-mx-md">
            <password-recovery-form
                :onKeyboardChangeVisibility="onKeyboardChangeVisibility"
            />
        </div>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'
import PasswordRecoveryForm from 'src/components/common/forms/password-recovery-form'

export default {
    name: "password-recovery-vertical",
    components: {
        Logo,
        PasswordRecoveryForm,
    },
    data() {
        return {
            isKeyboardShow: false,
        }
    },
    methods: {
        onKeyboardChangeVisibility(isVisible) {
            this.isKeyboardShow = isVisible
        },
    },
}
</script>