<template>
    <div class="background-secondary">
        <menu-and-search-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
        <playlist-tabs />
    </div>
</template>

<script>
import MenuAndSearchHeader from 'src/components/common/headers/menu-and-search-header'
import PlaylistTabs from 'src/components/common/playlist/playlist-tabs'

export default {
    name: "playlist-vertical",
    props: [
        'onToggleLeftDrawer',
    ],
    components: {
        MenuAndSearchHeader,
        PlaylistTabs,
    },
}
</script>