<template>
    <div>
        <div class="row logo-vertical q-mt-lg q-mb-md">
            <logo :show="!isKeyboardShow"/>
        </div>
        <div class="row q-mx-md">
            <register-form
                :onKeyboardChangeVisibility="onKeyboardChangeVisibility"
            />
        </div>
        <q-footer class="bg-background-primary font-color-primary flex justify-center">
            <to-auth-button />
        </q-footer>
    </div>
</template>

<script>
import Logo from 'src/components/common/logo'
import RegisterForm from 'src/components/common/forms/register-form'
import ToAuthButton from 'src/components/common/redirect-buttons/to-auth-button'

export default {
    name: "register-vertical",
    components: {
        Logo,
        RegisterForm,
        ToAuthButton,
    },
    data() {
        return {
            isKeyboardShow: false,
        }
    },
    methods: {
        onKeyboardChangeVisibility(isVisible) {
            this.isKeyboardShow = isVisible
        },
    }
}
</script>