<template>
    <div class="common-wrapper">
        <menu-header :title="$route.meta.title" :onToggleLeftDrawer="onToggleLeftDrawer"/>
        <div class="content-wrapper flex full-width q-px-md">
            <track-additional-buttons
                class="flex items-center full-width flex justify-between additional-buttons"
                :size="'lg'"
                :isVertical="true"
                :isSmallHeight="false"
            />
            <track-name class="flex items-center justify-center full-width" />
            <track-visualization class="full-width q-py-md" />
            <track-control-buttons class="flex items-end full-width" size="md" :isVertical="true" />
            <play-slider class="full-width flex items-center" />
        </div>
    </div>
</template>

<script>
import MenuHeader from 'src/components/common/headers/menu-header'
import TrackAdditionalButtons from 'src/components/common/track/track-additional-buttons'
import TrackName from 'src/components/common/track/track-name'
import TrackVisualization from 'src/components/common/track/track-visualization'
import PlaySlider from 'src/components/common/track/play-slider'
import TrackControlButtons from 'src/components/common/track/track-control-buttons'

export default {
    name: "track-vertical",
    props: [
        'onToggleLeftDrawer',
    ],
    components: {
        MenuHeader,
        TrackAdditionalButtons,
        TrackName,
        TrackVisualization,
        PlaySlider,
        TrackControlButtons,
    },
}
</script>

<style lang="scss" scoped>
.common-wrapper {
    min-height: calc(100vh - 56px - 48px);
}
.content-wrapper {
    min-height: inherit;
}
.additional-buttons {
    max-height: 80px;
}
</style>