<template>
    <q-slide-transition>
        <div v-show="showLocal" class="full-width">
            <q-img
                class="responsive img"
                src="~assets/img/logo.svg"
            />
        </div>
    </q-slide-transition>
</template>

<script>
export default {
    name: "logo",
    props: [
        'show',
    ],
    data() {
        return {
            showLocal: this.show ?? true,
        }
    },
    watch: {
        show() {
            this.showLocal = this.show
        }
    }
}
</script>