<template>
    <div class="q-my-md">
        <div class="row flex justify-center font-color-secondary font-secondary">
            Уже есть аккаунт?
        </div>
        <div class="row q-mt-xs flex justify-center">
            <q-btn
                color="primary"
                label="Войти"
                :to="authPage"
            />
        </div>
    </div>
</template>

<script>
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "to-register-button",
    computed: {
        authPage() {
            return PageRouteEnum.Auth
        }
    }
}
</script>

<style scoped>

</style>