<template>
    <q-drawer v-model="leftDrawerOpen" side="left" overlay behavior="mobile" class="shadow-24-dp">
        <q-list>
            <q-item-label header class="font-secondary">
                Разделы
            </q-item-label>

            <menu-link
                v-for="(anchor, key) in anchors"
                :key="key"
                :title="anchor.title"
                :link="anchor.link"
                :icon="anchor.icon"
            />
        </q-list>
    </q-drawer>
</template>

<script>
import MenuLink from 'src/components/common/left-drawer/menu-link'
import Anchors from 'src/scripts/data/Anchors'
import Utils from 'src/scripts/helpers/Utils'
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "left-drawer",
    components: {
        MenuLink,
    },
    props: [
        'leftDrawerOpen',
        'onToggleLeftDrawer',
    ],
    data() {
        return {
            anchors: this.getAnchors()
        }
    },
    methods: {
        getAnchors() {
            if (!Utils.isVerticalOrientation()) {
                const linksToExclude = [PageRouteEnum.Playlist]
                return Anchors.filter(anchor => !linksToExclude.includes(anchor.link))
            }

            return Anchors
        }
    },
    watch: {
        leftDrawerOpen() {
            if (this.leftDrawerOpen === false) {
                this.onToggleLeftDrawer()
            }
        }
    },
    mounted() {
        window.addEventListener("resize", () => {
            this.anchors = this.getAnchors()
        })
    },
}
</script>

<style scoped>

</style>