<template>
    <div>
        <q-expansion-item
            group="account"
            :icon="icon"
            :label="label"
            :header-class="[{'font-primary': !isOpenLocal}, {'text-primary': isOpenLocal}]"
            v-model="isOpenLocal"
        >
            <q-card>
                <slot />
            </q-card>
        </q-expansion-item>
        <q-separator />
    </div>
</template>

<script>
export default {
    name: "accordion",
    props: [
        'icon',
        'label',
        'isOpen',
        'tabId',
        'onChangeTab',
    ],
    data() {
        return {
            isOpenLocal: this.isOpen,
        }
    },
    watch: {
        isOpenLocal() {
            if (this.isOpenLocal) {
                this.onChangeTab(this.tabId)
            }
        }
    }
}
</script>