<template>
    <q-footer>
        <q-tabs
            v-model="tab"
            class="bg-primary shadow-4-dp"
        >
            <q-route-tab
                v-for="(anchor, key) in anchors"
                :key="key"
                :name="anchor.name"
                :icon="anchor.icon"
                :to="anchor.link"
                class="font-color-white"
            />
        </q-tabs>
    </q-footer>
</template>

<script>
import Anchors from 'src/scripts/data/Anchors'
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "bottom-navigation",
    data() {
        return {
            tab: '',
        }
    },
    computed: {
        anchors() {
            const availableAnchors = [
                PageRouteEnum.Track,
                PageRouteEnum.Playlist,
                PageRouteEnum.Eq,
                PageRouteEnum.Account
            ]

            return Anchors.filter(a => availableAnchors.includes(a.link))
        }
    }
}
</script>

<style scoped>

</style>