<template>
    <q-menu
        persistent
        transition-show="jump-down"
        transition-hide="jump-up"
        style="overflow: unset;"
        :offset="[-10, 4]"
    >
        <div class="slider-wrapper background-secondary shadow-12-dp">
            <q-slider
                v-model="levelLocal"
                :min="0"
                :max="100"
                vertical
                reverse
                label
                label-always
                switch-label-side
                label-color="primary"
                track-size="2px"
                thumb-size="16px"
            />
        </div>
    </q-menu>
</template>

<script>
export default {
    name: "volume-level",
    props: {
        level: Number,
        onSetVolumeLevel: Function,
    },
    data() {
        return {
            levelLocal: this.level,
        }
    },
    watch: {
        level() {
            this.levelLocal = this.level
        },
        levelLocal() {
            this.onSetVolumeLevel(this.levelLocal)
        },
        show() {
            this.showLocal = this.show
        },
    }
}
</script>

<style scoped>
.slider-wrapper {
    padding: 16px 7px 8px 7px;
    border-radius: 4px;
}
</style>