<template>
    <router-view />
</template>

<script>
import { defineComponent } from 'vue'
import AppInitService from 'src/scripts/app-init/index'

export default defineComponent({
    name: 'App',
    mounted() {
        const service = new AppInitService()
        service.service()
    }
})
</script>
