<template>
    <password-recovery-send-to-email-modal
        :show="alert"
        :onChangeShow="changeAlertState"
    />

    <div class="full-width">
        <div class="row full-width">
            <q-input
                v-model="email"
                clearable
                clear-icon="close"
                label="Email"
                class="full-width"
                @focus="onFocus"
                @blur="onBlur"
                :error-message="emailErrorMessage"
                :error="!isEmailValid"
                :rules="[val => /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(val) || 'Укажите реальный email']"
                hide-bottom-space
            />
        </div>
        <div class="row flex justify-center full-width q-mt-md">
            <q-btn
                color="primary"
                label="Восстановить"
                @click="changeAlertState(true)"
            />
        </div>
    </div>
</template>

<script>
import PasswordRecoverySendToEmailModal from 'src/components/common/modals/password-recovery-send-to-email-modal'

export default {
    name: "password-recovery-form",
    props: {
        onKeyboardChangeVisibility: {
            type: Function,
            default: () => {},
        }
    },
    components: {
        PasswordRecoverySendToEmailModal,
    },
    data() {
        return {
            email: '',
            emailErrorMessage: '',
            isEmailValid: true,
            alert: false,
        }
    },
    methods: {
        onFocus() {
            this.onKeyboardChangeVisibility(true)
        },
        onBlur() {
            this.onKeyboardChangeVisibility(false)
        },
        changeAlertState(value) {
            this.alert = value
        }
    },
}
</script>

<style scoped>

</style>