<template>
    <div class="row full-width">
        <q-input
            v-model="email"
            clearable
            clear-icon="close"
            label="Email"
            class="full-width"
            @focus="onFocus"
            @blur="onBlur"
            :error-message="emailErrorMessage"
            :error="!isEmailValid"
            :rules="[val => /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test(val) || 'Укажите реальный email']"
        />
    </div>
    <div class="row full-width">
        <q-input
            v-model="password"
            clearable
            clear-icon="close"
            label="Пароль"
            class="full-width"
            @focus="onFocus"
            @blur="onBlur"
            :error-message="passwordErrorMessage"
            :error="!isPasswordValid"
            :rules="[val => val.length >= 8  || 'Пароль должен быть не короче 8 символов']"
            :type="isInputTypePassword ? 'password' : 'text'"
        >
            <template v-slot:append>
                <q-icon
                    :name="isInputTypePassword ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isInputTypePassword = !isInputTypePassword"
                />
            </template>
        </q-input>
    </div>
    <div class="row full-width">
        <q-input
            v-model="passwordConfirm"
            clearable
            clear-icon="close"
            label="Пароль ещё раз"
            class="full-width"
            @focus="onFocus"
            @blur="onBlur"
            :error-message="passwordConfirmErrorMessage"
            :error="!isPasswordConfirmValid"
            :rules="[val => val.length >= 8  || 'Пароль должен быть не короче 8 символов']"
            :type="isInputTypePassword ? 'password' : 'text'"
            hide-bottom-space
        >
            <template v-slot:append>
                <q-icon
                    :name="isInputTypePassword ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isInputTypePassword = !isInputTypePassword"
                />
            </template>
        </q-input>
    </div>
    <div class="row flex justify-center full-width q-mt-md">
        <q-btn
            color="primary"
            label="Зарегистрироваться"
            :to="trackPage"
        />
    </div>
</template>

<script>
import * as PageRouteEnum from 'src/scripts/enums/PageRouteEnum'

export default {
    name: "register-form",
    props: {
        onKeyboardChangeVisibility: {
            type: Function,
            default: () => {}
        }
    },
    data() {
        return {
            email: '',
            password: '',
            passwordConfirm: '',
            isRecentChangeFocus: false,
            isKeyboardShow: false,
            isInputTypePassword: true,

            emailErrorMessage: '',
            isEmailValid: true,
            passwordErrorMessage: '',
            isPasswordValid: true,
            passwordConfirmErrorMessage: '',
            isPasswordConfirmValid: true,
        }
    },
    computed: {
        trackPage() {
            return PageRouteEnum.Track
        }
    },
    methods: {
        onFocus() {
            this.isRecentChangeFocus = true
            setTimeout(() => {
                this.isRecentChangeFocus = false
            }, 250)

            this.isKeyboardShow = true
        },
        onBlur() {
            if (!this.isRecentChangeFocus) {
                this.isKeyboardShow = false
            }
        },
    },
    watch: {
        isKeyboardShow(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.onKeyboardChangeVisibility(this.isKeyboardShow)
            }
        }
    }
}
</script>