<template>
    <q-layout view="lHh LpR lFf">
        <left-drawer :left-drawer-open="leftDrawerOpen" :onToggleLeftDrawer="onToggleLeftDrawer"/>
        <q-page-container class="q-pt-none page-container">
            <router-view
                :onToggleLeftDrawer="onToggleLeftDrawer"
            />
        </q-page-container>
        <bottom-navigation v-if="pageSizeStore.isVerticalOrientation"/>
    </q-layout>
</template>

<script>
import LeftDrawer from 'src/components/common/left-drawer/left-drawer'
import BottomNavigation from 'src/components/vertical/bottom-navigation'
import { usePageSizeStore } from 'src/stores/page-size-store'

export default {
    name: "main-layout",
    components: {
        LeftDrawer,
        BottomNavigation,
    },
    data() {
        return {
            leftDrawerOpen: false,
            pageSizeStore: usePageSizeStore(),
        }
    },
    methods: {
        onToggleLeftDrawer() {
            this.leftDrawerOpen = !this.leftDrawerOpen
        },
    },
}
</script>

<style lang="scss" scoped>
.page-container {
    min-height: inherit;
}
</style>