<template>
    <q-layout view="lHh LpR lFf">
        <q-page-container class="q-pt-none">
            <router-view />
        </q-page-container>
    </q-layout>
</template>

<script>

export default {
    name: "simple-layout",
}
</script>