<template>
    <q-select
        v-model="valueLocal"
        :options="options"
        :disable="disable"
        class="font-primary"
        transition-show="jump-down"
        transition-hide="jump-up"
        behavior="default"
    >
        <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
                <q-item-section
                    :class="[
                        'flex',
                        'items-center',
                        {'font-color-secondary': scope.opt.label !== valueLocal},
                        {'font-color-secondary': scope.opt.label !== valueLocal},
                        {'font-color-app-primary': scope.opt.label === valueLocal},
                        {'font-header-1': scope.opt.label === valueLocal}
                    ]"
                >
                    <q-item-label>{{ scope.opt.label }}</q-item-label>
                </q-item-section>
            </q-item>
        </template>
    </q-select>
</template>

<script>
export default {
    name: "select-input",
    props: [
        'disable',
        'value',
        'options',
        'onChangeSelectedOption',
    ],
    data() {
        return {
            valueLocal: this.value,
            recentChangeValue: false,
            disableLocal: this.disable,
        }
    },
    watch: {
        value() {
            this.recentChangeValue = true
            this.valueLocal = this.value
        },
        valueLocal() {
            if (this.recentChangeValue) {
                this.recentChangeValue = false
                return
            }

            this.onChangeSelectedOption(this.valueLocal)
        },
        disable() {
            this.disableLocal = this.disable
        }
    }
}
</script>

<style lang="scss">
.q-select__dialog label {
    @media screen and (max-width: 1239px) {
        font-size: 24px;
    }
    @media screen and (min-width: 1240px) {
        font-size: 40px;
    }
    font-weight: 500;
    background-color: $primary;

    .q-field__native {
        color: $white;
    }
}
.q-select__dialog .scroll {
    padding: 16px 0;
}
.q-select__dialog label .q-field__native > span {
    visibility: hidden;
    display: block;
    height: 18px;
    max-height: 18px;
}
.q-select__dialog label .q-field__native > span:before {
    content: "Эквалайзер";
    visibility: initial;
}
.q-select .q-field__native {
    color: $textPrimary;
}
</style>